<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121776803841-322u3k6k2o7fcufoclk0d7hj06tss2l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121776803841-322u3k6k2o7fcufoclk0d7hj06tss2l4</string>
	<key>API_KEY</key>
	<string>AIzaSyAM_fG0f6RoYk0pl4yPVb6IoLp9mKzKrGo</string>
	<key>GCM_SENDER_ID</key>
	<string>121776803841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.alinv.StarWars</string>
	<key>PROJECT_ID</key>
	<string>starwars-6af74</string>
	<key>STORAGE_BUCKET</key>
	<string>starwars-6af74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121776803841:ios:16f11989338f5a86713000</string>
</dict>
</plist>